<% provide(:title, '') %>

<!-- Start Banner -->
<div class="jumbotron" id="home">
  <div class="container" id="bannerInner">
    <h1>Explore new cities,</h1>
    <h2>and showcase your own!</h2>
       <ul class="pull-right" id="bannerButtons"> 
           <li>
            <%= link_to 'Sign me up', '#', class: 'btn btn-lg btn-success', id: 'signup' %>
           </li>
           <li>
            <%= link_to 'Tell me more', '#howItWorks', class: 'btn btn-lg btn-default', id: 'readMore' %>
           </li>
       </ul>
  </div>          
</div>
<!-- End Banner -->

<!-- Start How it Works -->
<div class="jumbotron" id="howItWorks">
  <div class="container" id="information">
    <h1>This section has a video</h1>
    <h2>&emsp;&emsp;... lorem ipsum something something</h2>
       <ul class="pull-right" id="bannerButtons"> 
           <li>
            <%= link_to 'Sign up', '#', class: 'btn btn-md btn-success', id: 'signup' %>
           </li>
       </ul>
  </div>          
</div>
<!-- End How it Works -->