<!-- Start Header NavBar -->
<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-header">
    <div class="brand">
      <%= render 'shared/sidebar' %>
      <%= link_to image_tag("traipsee5.svg", alt: "Traipsee Logo", id: "logo"), '#' %>
    </div>
  </div>
</header>
<!-- End Header NavBar -->