<a id="menu-toggle" href="#" class="btn btn-default toggle btn-md"><i class="fa fa-bars"></i></a>      
<div id="sidebar-wrapper">
  <ul class="sidebar-nav pull-left">          
    <li><a href="#top">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Blog</a></li>
    <li><a href="#portfolio">Terms of service</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>