// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";

$brandGreen: #5cb85c;
$greyDark: #999;


// Start Stylish-Portfolio
/* Side Menu */

#sidebar-wrapper {
  padding-top: 100px;
  margin-left: -250px;
  left: 0;
  width: 250px;
  background: #f8f8f8;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 10px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(92,182,92,0.6);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  background-color: #f8f8f8;
  top: 0;
  left: 10;  
  z-index: 1;
}

#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 0 0 0 5px;
}

.fa-bars{
  color: $brandGreen;
}
// End Stylish-Portfolio
/***********************************************************************/

// Start my customization

body {
padding-top: 60px;
}

/* Header */
.navbar {
  height: 60px;
}

#logo {
  height: 40px;
  margin-left: 5px;
}

.navbar .brand {
    padding: 10px 0 0 5px;
}

/* Banner */

div ul {
  list-style-type: none;
  li {
        display: inline;
  }
}

#home {  
  background: url(barcelona_banner3cb.jpg) no-repeat;
  background-size: cover;
  // height: 595px;
  #bannerInner{
    overflow: hidden;
    position: relative;
    padding-top: 25px;
    padding-left: 30px;
    #bannerButtons {      
      margin-top: 310px;      
    }
  }
  h1 {
    margin-top: -30px;
    font-size: 400%;
  }
  h2 {
    margin-top: -10px;
    font-size: 2em;
  }
}

/* How it Works */
#howItWorks {
  position: relative;
  margin-top: -30px;
  background-color: $greyDark;
}